:root {
    --black: #0D1926;
    --green: #83ff08;
    --red: #ff0883;
    --grey: #b6b6b6;
    --white: #FFFFFF;
    --orange: #ff8308;
    --blue: #0883ff;
    --violet: #8308ff;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    height: 100vh;
    width: 100vw;
}
main {
    height: 500px;
    width: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    position: relative;
}
.title {
    color: var(--white);
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: 0.3s;
    border: 1px solid rgb(100, 100, 100, 0);

}
.submit {
    color: var(--green);
}
.delete {
    color: var(--red);
}
.add {
    color: var(--orange);
}
.back {
    color: var(--grey);
    position: absolute;
    right: 0;
}
.back:hover {
    color: var(--red);
}
button:hover {
    border-bottom: 1px solid var(--white);
}
input {
    width: 350px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--grey);
    color: var(--white);
}
input:focus {
    outline: none;
}
.line {
    display: flex;
    align-items: center;
    gap: 25px;
}
.line:nth-child(2) {
    padding-top: 20px;
}
.toLeft {
    justify-content: flex-start;
}
.toRight {
    justify-content: flex-end;
}
.toCenter {
    justify-content: center;
}
.edit, .remove {
    opacity: 0;
    color: var(--grey);
}
.edit:hover {
    color: var(--orange);
}
.remove:hover {
    color: var(--red);
}
.book p {
    font-size: 14px;
}  
.book:hover .edit, .book:hover .remove  {
    opacity: 1;
}
