:root {
    --black: #0D1926;
    --green: #83ff08;
    --red: #ff0883;
    --grey: #b6b6b6;
    --white: #FFFFFF;
    --orange: #ff8308;
    --blue: #0883ff;
    --violet: #8308ff;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    height: 100vh;
    width: 100vw;   
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
    background-color: transparent;
    border: none;
    color: var(--grey);
    transition: ease-in-out;
    transition-duration: 0.2s;
    cursor: pointer;
    border: 1px solid transparent;
    
}
button:hover {
    border-bottom: 1px solid var(--grey);
}
.submit {
    color: var(--green);
}
.add {
    color: var(--green);
}
.edit {
    color: var(--orange);
}
.delete {
    color: var(--blue);
}
.back:hover {
    color: var(--red);
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.toLeft {
    align-items: flex-start;
}
.toRight {
    align-items: flex-end;
}
.book {
    color: var(--white);
    width: 400px;
}
span {
    color: var(--violet);
}

.heading {
    margin-bottom: 25px;
    font-size: 18px;
    color: var(--blue);
}
input {
    margin-bottom: 15px;
    width: 300px;
}
.sholders {
    justify-content: space-between;
}
.short {
    width: 235px;
}